<%- include('partials/header'); -%>
<body>

  <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required />
    <button type="submit">Upload</button>
  </form>

  <%- include('partials/footer'); -%>

  <script>
    const uploadForm = document.getElementById('uploadForm');
    uploadForm.addEventListener('submit', async (e) => {
      e.preventDefault();
      
      const formData = new FormData(uploadForm);

      try {
        const response = await fetch('/upload', {
          method: 'POST',
          body: formData,
        });

        if (response.ok) {
          const result = await response.json();
          console.log(result);
          // Handle success, display a message or redirect to another page
        } else {
          console.error('Error:', response.status);
          // Handle error, display an error message to the user
        }
      } catch (error) {
        console.error('Error:', error);
        // Handle error, display an error message to the user
      }
    });
  </script>
</body>
</html>
